##### BUILD PLATFORM #####
PLATFORM=linux/amd64
##### BUILD PLATFORM #####

##### APPLICATION CONFIGURATION #####
APP_CONTAINER_NAME=
APP_NETWORK_DRIVER=
APP_TIMEZONE=UTC
APP_VOLUME_DRIVER=local
##### APPLICATION CONFIGURATION #####

##### MySQL #####
MYSQL_VERSION=latest
MYSQL_CONTAINER_NAME=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DB_NAME=
MYSQL_DB_PORT=3320
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d
MYSQL_DATA_PATH_HOST=./mysql/data
##### MySQL #####

##### PostgreSQL #####
POSTGRESQL_VERSION=latest
POSTGRESQL_CONTAINER_NAME=
POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
POSTGRESQL_PORT=5432
POSTGRESQL_DATA_PATH_HOST=./postgres/data
##### PostgreSQL #####

##### MariaDB #####
MARIADB_VERSION=latest
MARIADB_CONTAINER_NAME=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
MARIADB_DB_NAME=
MARIADB_DB_PORT=3321
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d
MARIADB_DATA_PATH_HOST=./mariadb/data
##### MariaDB #####

##### MongoDB #####
MONGODB_VERSION=latest
MONGODB_PORT=27017
MONGODB_ROOT_USERNAME= ### This is the authentication DB name
MONGODB_ROOT_PASSWORD=
MONGODB_DATA_PATH_HOST=./mongo/data
##### MongoDB #####